#hero {
  position: relative;
  text-align: center;
  color: white;
}

#hero img {
  width: 100%;
  height: auto;
}

.hero.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
}

.hero.btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
Diệp Âu Ngọc
8:35 PM
--------------------------
#features {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  padding: 2rem 0;
}

#features .card {
  margin: 1rem;
}

#features .card img {
  height: 18rem;
  object-fit: cover;
}

.card-body {
  text-align: center;
}